SNOWFLAKE_ACCOUNT=account
SNOWFLAKE_USER=user
SNOWFLAKE_PASSWORD=password

SNOWFLAKE_WAREHOUSE=ProductionWarehouse
SNOWFLAKE_DATABASE=PORTFOLIO_ANALYTICS
SNOWFLAKE_SCHEMA=BIOFEEDBACK_SIGNAL_LAB
SNOWFLAKE_ROLE=role

SNOWFLAKE_AUTHENTICATOR=authenticator
SNOWFLAKE_PRIVATE_KEY_PATH=private_key
SNOWFLAKE_PRIVATE_KEY_PASSPHRASE=
SNOWFLAKE_PASSCODE=
SNOWFLAKE_PASSCODE_IN_PASSWORD=false

DBT_PROFILES_DIR=dbt
DBT_TARGET=dev
